.freeze {
    z-index: 1000;
    background-color: #eeeeee;
    position: sticky;
    position: -webkit-sticky;
}

.free {
    position: inherit;
    left: auto;
}

.kv-grid-table {
    position: relative;
}